/*
Classes use the [.]
#669DB3FF,60%,white, lightcoral 40%
*/
body{
    height: 100px;
    background: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #348F50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.container{
    background-color: #F0F6F7FF;
    color: gray;
    
}
header::after{
    content:"";
    display: table;
    clear: both;
}
nav{
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    padding: 10px 0;
    position: relative;
    
}

nav a{
    text-decoration: none;
    color: #669DB3FF;
    text-transform: uppercase;
    font-size: 25px;
}

nav a:hover{
    color: black;
}

nav a::before{
     content:"";
     display: block;
     height:5px;
     width:100%;
     background-color: #669DB3FF;
     position: absolute;
     top: 0;
     width: 0%;
     transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}


#heading{
    color: black;
    font-size: 40px;
    text-align: center;
    padding:0px;
    margin: 20px;
}

div img{
    text-align: center;
    position: relative;
    width: 400px;
    border-radius: 50%;
}

.socialLinks{
    text-align: center;
    margin: 10px;
}

.text_content{
    text-align: center;
    color: white;
}