/*
Classes use the [.]
#669DB3FF,60%,white, lightcoral 40%
*/
body{
    height: 100px;
    background: #44A08D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: monospace;
    
}

.container{
    background-color: #F0F6F7FF;
    color: gray;
    
}
header::after{
    content:"";
    display: table;
    clear: both;
}
nav{
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    padding: 10px 0;
    position: relative;
    
}

nav a{
    text-decoration: none;
    color: #669DB3FF;
    text-transform: uppercase;
    font-size: 25px;
}

nav a:hover{
    color: black;
}

nav a::before{
     content:"";
     display: block;
     height:5px;
     width:100%;
     background-color: #669DB3FF;
     position: absolute;
     top: 0;
     width: 0%;
     transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}


#heading{
    color: black;
    font-size: 40px;
    text-align: center;
    padding:0px;
    margin: 20px;
}

section img{
    text-align: center;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.socialLinks{
    text-align: center;
    margin: 10px;
}

.container2_aboutme{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 3rem;
    text-align: center;

}
h1{
    color: #669DB3FF;
    font-size: 5rem;
    letter-spacing: 10px;
}

.aboutme_description{
    display: inline-block;
    background-color: white;
    padding: 2rem 3rem;
    margin-top: 25px;

}

.btn{
    display: inline-block;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    font-size:15px;
    padding: 1rem 4rem;
    margin-top: 5rem;
}


.contactMe_form{
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 3rem;
    text-align: center;

}

.contactme_heading{
    display:inline-block;
    background-color: white;
    padding: 0.8rem;
    color:#669DB3FF;

}

.submit_button{
    display: inline-block;
    background-color: white;
    text-decoration: none;
    border: 10px;
    font-size: 15px;
    padding: 0.5rem 2rem;

}